click
multimethod
numpy

# documentation
proselint
sphinx
sphinx-serve
sphinx_rtd_theme

# test related
bandit
codecov
pylint
pytest
pytest-cov
pytest-codestyle
pytest-lazy-fixture

# other utils
twine