click
multimethod
numpy

# documentation
proselint
Sphinx>=2.1.0
sphinx-serve
sphinx_fontawesome
sphinx_rtd_theme

# test related
bandit
codecov
pylint
pytest
pytest-cov
pytest-codestyle
pytest-lazy-fixture

# other utils
twine